#instructions {
    color: #4E2A84;
}

.answer-input {
    height: 2em;
    width: 50em;
}

.make-up-text {
    font-weight: bold;
}

.make-up-prompt {
    display: inline-block;
}

#submit-button {
    display: block;
    width: 150px;
    height: 75px;
    margin: auto;
    font-size: 2em;
}