#instructions {
    color: #4E2A84;
}

.answer-input {
    height: 2em;
    width: 50em;
}

.prompt {
    font-weight: bold;
}

.make-up-prompt {
    display: inline-block;
}

#submit-button {
    display: block;
    width: 150px;
    height: 75px;
    margin: auto;
    font-size: 2em;
}

/* Layout */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}