<!DOCTYPE html>
<html lang="en">

<head>
    <title>The NUMB Saxo Survey!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div id="instructions">
            <h4>Welcome to...</h4>
            <h1>The 2016 Saxo Survey!</h1>
            <br>
            <p>Instructions will go here.</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
